.rz-slider-text{
   color: #a5b5c3;
}
.active-text{
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(left,#AEBAE0 30%, #E6A042 70%);
    -webkit-background-clip: text;
}
.slider-1{
    background-image: linear-gradient(90deg, #EBEAF5 0%, #FFFFFF 100%);
}
.slider-2{
    background-image: linear-gradient(90deg, #EAF5EA 0%, #FFFFFF 100%);
}
.slider-3{
    background-image: linear-gradient(90deg, #F5EAF5 0%, #FFFFFF 100%);
}
.slider-4{
    background-image: linear-gradient(90deg, #F5EAEA 0%, #FFFFFF 100%);
}

.faqs-content-section{
    background-image: linear-gradient(120deg, #F3F8F8 0%, #FFFFFF 50%);;
}

.contact-us-hero{
    background-image: linear-gradient(180deg, #FF00C414 0%, #FFFFFF 100%);;
}

.contact-field::placeholder{
    font-family: $poppins;
    font-weight: 400;
    color: #48587d;
}

.selector {
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 37px;
}

.selector {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}

.selector .bar-icon-wrapper {
    margin-left: -11px;
    margin-top: -11px;
    -webkit-transform: translate3d(0, 0, 0); /* The zoom: 1; of new browsers */
}

.selector .bar-icon {
    height: 3px;
    width: 20px;
    background: #444;
    display: block;
    opacity: 1;
    margin-top: 4px;
    -webkit-transition: -webkit-transform 0.15s linear;
    -o-transition: -o-transform 0.15s linear;
    -ms-transition: -ms-transform 0.15s linear;
    -moz-transition: -moz-transform 0.15s linear;
    transition: transform 0.15s linear;
    -webkit-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.bar-icon:nth-child(2) {
    -webkit-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    -ms-transition: opacity 0.1s linear;
    -moz-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
}

.active .bar-icon:nth-child(1) {
    -webkit-transform: rotate(45deg) translate3d(5px, 5px, 0);
    -o-transform: rotate(45deg) translate3d(5px, 5px, 0);
    -ms-transform: rotate(45deg) translate3d(5px, 5px, 0);
    -moz-transform: rotate(45deg) translate3d(5px, 5px, 0);
    transform: rotate(45deg) translate3d(5px, 5px, 0);
}

.active .bar-icon:nth-child(2) {
    opacity: 0;
}

.active .bar-icon:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate3d(5px, -5px, 0);
    -o-transform: rotate(-45deg) translate3d(5px, -5px, 0);
    -ms-transform: rotate(-45deg) translate3d(5px, -5px, 0);
    -moz-transform: rotate(-45deg) translate3d(5px, -5px, 0);
    transform: rotate(-45deg) translate3d(5px, -5px, 0);
}

.partner-card{
    box-shadow:  20px 75px -5px rgba(210, 210, 234, 0.6)
}
.partner-card-1{
    background-color: #FBE3E5;
    box-shadow: 6px 15px 30px 0px rgba(188, 0, 49.999999999999964, 0.07);
}
.partner-card-2{
    background-color: #e2f5f8;
    box-shadow: 6px 15px 30px 0px rgba(0, 101.00000000000007, 150, 0.08);
}
.partner-card-3{
    background-color: #e3f8eb;
    box-shadow: 6px 15px 30px 0px rgba(8.999999999999998, 191, 0, 0.08);
}
.partner-card-4{
    background-color: #f5e5f1;
    box-shadow: 6px 15px 30px 0px rgba(100.00000000000011, 4.00000000000002, 151, 0.08);
}

.agent-section{
    background-image: url('/assets/img/svg/bg-61.svg');
}

.partner-text{
    background-color: transparent;
    background-image: linear-gradient(156deg, #5B7DFF 0%, #FF8043 70%);
    background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.partner-step-wrapper{
    &:hover{
        background-color: #52C1B9;
        .partner-step{
            color: white;
        }
    }
    
}

.partner-hero-section{
    background-image: url('/assets/img/jpg/partner-bg.jpg');
}
.shadow1{
    box-shadow: -38px -36px 0px -8px rgba(255,255,255,0.11);
}

.policy-text{
    font-family: $poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #627C89;
}
.policy-text-bold{
    font-family: $poppins;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: #627C89;
}

.list-circle{
    list-style-type: circle;
}
.list-sqaure{
    list-style-type: square;
}
@media screen and (max-width:576px) {
    .policy-text{
        font-size: 16px;
    }
    .policy-text-bold{
        font-size: 16px;
    }
}
.blog-content{
    font-family: $poppins;
}

.blog-list::marker{
    color: #627C89;
    font-family: $poppins;
}

.comment-submit-btn{
    box-shadow: 0 0 0 rgba(0,0,0,.5);
    transition: all 0.3s ease;

    &:hover{
        box-shadow: 0 5px 25px rgba(0,0,0,.2);
        transform: translateY(-2px);
    }
}

.menu-link{
    .menu-link-submenu{
        visibility: hidden;
        transition: all 0.3s ease;
    }
    &:hover{
        .menu-link-submenu{
            visibility: visible;
        }
    }
}
.menu-wrapper,.logo-wrapper {
    padding-left: 0px !important;
    padding-right:0px !important;
}