@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.poppins-100{
    font-family: $poppins;
    font-weight: 100;
}
.poppins-200{
    font-family: $poppins;
    font-weight: 200;
}
.poppins-300{
    font-family: $poppins;
    font-weight: 300;
}
.poppins-400{
    font-family: $poppins;
    font-weight: 400;
}
.poppins-500{
    font-family: $poppins;
    font-weight: 500;
}
.poppins-600{
    font-family: $poppins;
    font-weight: 600;
}
.poppins-700{
    font-family: $poppins;
    font-weight: 700;
}
.poppins-800{
    font-family: $poppins;
    font-weight: 800;
}
.poppins-900{
    font-family: $poppins;
    font-weight: 900;
}